/* Algemene styling */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Navbar */
.navbar-section {
    background-color: #01689b;
    padding: 20px 0;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
    transition: background-color 0.3s;
    font-size: smaller;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #01689b;
    color: white;
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar h3 {
    color: #f4f4f4;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: padding-left 0.3s, background-color 0.3s;
}

.sidebar ul li a:hover {
    padding-left: 10px;
    background-color: #014f6b;
}

/* Container Styling */
.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

/* Content Styling */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #01689b;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #014f6b;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .sidebar {
        width: 200px;
    }

    .container {
        flex-direction: column;
    }

    .content {
        margin-left: 0;
        margin-top: 20px;
    }
}
