/* Algemene styling */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Navbar */
.navbar-section {
    background-color: #01689b;
    padding: 20px 0;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
    transition: background-color 0.3s;
    font-size: smaller;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

.sidebar {
    width: 250px;
    background-color: #01689b;
    color: white;
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar h3 {
    color: #f4f4f4;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: padding-left 0.3s, background-color 0.3s;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.content h1 {
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #01689b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #01689b;
    color: white;
    padding: 10px 15px
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.toggle-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.message-content {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    background-color: #f9f9f9;
}